.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f3e8ff;
  width: 90%;
  margin: 2rem auto;
  border-radius: 5px;
  color: #7e22ce;
  border: 3px solid #7e22ce;
}

.commentDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
