.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.icon {
  font-size: 7rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 3rem;
  border: 3px solid #7e22ce;
  border-radius: 5px;
  color: #7e22ce;
  cursor: pointer;
  transition: 0.3s;
}

.box:hover {
  background-color: #7e22ce;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 520px));
  }
}
